[submodule "pandocker-base"]
	path = pandocker-base
	url = https://github.com/pandocker/pandocker-base.git
[submodule "pandocker"]
	path = pandocker
	url = https://github.com/pandocker/pandocker.git
[submodule "pandocker-alpine"]
	path = pandocker-alpine
	url = https://github.com/pandocker/pandocker-alpine.git
[submodule "pandocker-filters"]
	path = pandocker-filters
	url = git@github.com:K4zuki/pandocker-filters.git
